@model Usuario

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    @*------ GOOGLEAR ====> form bootstrap 5 ----------------*@



    <div style="">

        <section class="p-3 p-md-4 p-xl-5">
            <div class="container">
                <div class="card border-light-subtle shadow-sm">
                    <div class="row g-0">
                        <!-- Columna para la imagen de fondo -->
                        <div class="col-md-6 bg-primary-transparent text-light">
                            <div class="d-flex align-items-center justify-content-center h-100">
                                <img src="../assets/images/brand/3Dcomputer.png" class="d-inline-block align-top" width="170" height="170" alt="logo">
                            </div>
                        </div>
                        <!-- Columna para el formulario -->
                        <div class="col-md-6 bg-white-transparent position-relative">
                            <div class="card-body p-4">
                                <div class="row mb-4">
                                    <div class="col-12">
                                        <h3 class="mb-0">Iniciar Sesión</h3>
                                    </div>
                                </div>
                                <form asp-controller="Acceso" asp-action="Index" method="post">
                                    <div class="row gy-3 gy-md-4">
                                        <div class="col-12">
                                            <label for="email" class="form-label">Correo <span class="text-danger">*</span></label>
                                            <input type="email" class="form-control" name="Correo" id="email" placeholder="Ingrese su correo" asp-for="correo" required>
                                        </div>
                                        <div class="col-12">
                                            <label for="contrasena" class="form-label">Contraseña <span class="text-danger">*</span></label>
                                            <input type="password" class="form-control" name="contrasena" id="password" value="" asp-for="contrasena" required>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-grid">
                                                <button class="btn btn-primary btn-lg" type="submit">Ingresar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <hr class="mt-4 mb-4">
                                <div class="row">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- Login 5 - Bootstrap Brain Component -->

</body>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>

